.btw-toy {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(10%, -50%);
}
.btw-clock {
  position: absolute;
  left: 0;
  top: -100px;
  width: 20%;
}

.btw-pencils {
  position: absolute;
  right: 0;
  top: -150px;
  width: 20%;
}

.ruler {
  width: 20%;
  left: 0;
  top: -158px;
}

.pen {
  width: 30%;
  right: 0;
  top: -325px;
}

.metal {
  width: 22%;
  left: 0;
  top: -123px;
}

.watch {
  width: 22%;
  right: 0;
  top: -95px;
}

.clips {
  width: 23%;
  left: 27px;
}

.btw-plant {
  position: absolute;
  left: 0;
  top: 677px;
  width: 20%;
}

.btw {
  position: absolute;
}

.eraser {
  width: 16%;
  right: -6%;
  top: -164px;
}

@media (max-width: 768px) {
  .btw-toy {
    top: -83px;
    width: 15%;
  }

  .eraser {
    top: -60px;
  }

  .clips {
    left: -28px;
  }

  .pen {
    top: -235px;
  }

  .ruler {
    top: -90px;
  }

  .metal {
    top: -75px;
  }

  .watch {
    top: -60px;
  }
}

@media (max-width: 767px) {
  .btw-pencils {
    top: -62px;
  }

  .btw-plant {
    top: 1275px;
  }

  .btw-toy {
    top: -40px;
  }

  .btw-clock {
    top: -40px;
  }

  .pen {
    top: -124px;
  }

  .ruler {
    top: -55px;
  }

  .metal {
    top: -48px;
  }

  .watch {
    top: -50px;
  }
}
