.blue-theme {
  position: relative;
  width: 100%;
  display: flex;
  background: url(../../images/backgrs/blue-theme.svg);
}

.consultation_content {
  display: flex;
  justify-content: space-between;
}

.consultation_lft_content {
  width: 50%;
  margin: 50px 0;
}
.consultation_lft_content > h2 {
  font-size: 44px;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 20px;
}
.consultation_lft_content > p {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  width: 100%;
  font-weight: 400;
  margin-bottom: 20px;
}

.consultation_rgt_content{
	position: relative;
}

.consultation_rgt_content img{
	width: 100%;
  position: relative;
  bottom: -10%;
}

.error_field {
  color: #f51119;
}

.modal_thq {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 70px;
  border: none;
  width: 50%;
}
.modal-content p {
  text-align: center;
  font-size: 30px;
}

.modal_win_close {
  position: absolute;
  top: 5%;
  right: 2%;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal_win_close:hover,
.modal_win_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .consultation_lft_content > h2 {
    font-size: 30px;
  }
  .consultation_lft_content > h3 {
    font-size: 23px;
  }

  .consultation_rgt_content > input {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .blue-theme {
    flex-wrap: wrap;
  }
  .consultation_lft_content {
    width: 100%;
    text-align: center;
  }
  .consultation_lft_content > h3 {
    width: 100%;
  }

  .consultation_rgt_content {
  	display: none;
  }

  .consultation_rgt_content input {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .consultation_lft_content > h1 {
    font-size: 22px;
  }

  .consultation_rgt_content {
    height: 410px;
    width: 80%;
  }
  .consultation_rgt_content > h2 {
    font-size: 30px;
  }
  .consultation_rgt_content > input {
    margin: 10px;
    font-size: 15px;
  }
}
