header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: 95%;
  margin: 0 auto;
}

header img {
  width: 10%;
  object-fit: cover;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

header a:hover {
  font-weight: bold;
}

header i {
  margin-left: 5px;
}

.nav_menu_rgt {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 25%;
}

.nav_menu_rgt_drop {
  display: block;
}

.drop_down {
  display: none;
  position: absolute;
  top: 95%;
  right: 0;
  background-color: #eb4d56;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.nav_menu_rgt_drop:hover .drop_down {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 10px;
}

.lang-btn {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  padding: 10px;
}

.lang-btn_content {
  position: relative;
  display: none;
  background-color: #eb4d56;

  animation: drop_down 1s;
  animation-fill-mode: forwards;
}

.mobile_menu_lang {
  display: flex;
  width: 100%;
  position: relative;
  top: 80px;
  justify-content: space-around;
}

.page_lang {
  border-left: 4px solid #ffffff;
}

.page_lang_bot {
  border-bottom: 4px solid #ffffff;
}

/*****************SIDE MENU*************************/

#open-btn {
  display: none;
}

.mobile_menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background: url(../../images/backgrs/main-bg.png);
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile_menu a {
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
  color: #ffffff;
  display: block;
  border-bottom: 1px solid #ffffff;
}

.mobile_menu a:hover {
  color: #f1f1f1;
}

.mobile_menu .closebtn {
  font-size: 55px;
  font-weight: 400;
  border: none;
}

.mobile_menu_logo {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  header a {
    font-size: 15px;
  }

  .lang-btn {
    font-size: 15px;
  }

  .nav_menu_rgt {
    width: 30%;
  }

  .nav_menu_rgt_drop:hover .drop_down {
    width: 50%;
  }
}

@media (max-width: 767px) {
  header img {
    width: 30%;
  }

  .nav_menu_rgt {
    display: none;
  }

  #open-btn {
    display: block;
    font-size: 30px;
  }

  .our_number {
    display: none;
  }
  .nav_menu {
    display: none;
  }

  .lang-btn {
    font-size: 20px;
  }
}

@keyframes drop_down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
