.icons {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons_content {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  width: 18%;
  height: 250px;
  box-shadow: 10px 10px 61px -25px rgba(0, 0, 0, 0.75);
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons_content > img {
  border-radius: 50%;
  padding: 15px;
  width: 40%;
}
.icons_content > i {
  position: absolute;
  z-index: 1;
  right: 5%;
  bottom: 5%;
  font-size: 28px;
}

.icons_content > p {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  color: #000;
}

.icons h1 {
  text-align: center;
  padding-top: 80px;
  width: 30%;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 4px solid #eb4d56;
}

.icons a:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .icons_content {
    height: auto;
    margin: 0 auto;
  }

  .icons_content p {
    font-size: 13px;
  }

  .icons h1 {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .icons {
    top: -30px;
  }

  .icons_content {
    width: 42%;
    margin-bottom: 50px;
  }

  .icons_content > img {
    width: 35%;
  }
  .icons_content > p {
    font-size: 15px;
    height: 75px;
  }

  .icons h1 {
    height: 110px;
    font-size: 20px;
    width: 45%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .icons {
    position: static;
  }
  .icons_content {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .icons_content p {
    height: 55px;
  }

  .icons.proposal {
    margin-top: 30px;
    height: 340px;
  }

  .icons h1 {
    width: 80%;
    font-size: 20px;
    margin: 20px auto;
    padding: 20px 0;
  }
}

@media (max-width: 320px) {
  .icons_content p {
    height: 75px;
  }
}
