* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body{
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.main-block {
  background: url(../../images/backgrs/main-bg.png);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-block_content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main_inner_block h1 {
  color: #ffffff;
  font-size: 55px;
  width: 100%;
  margin: 20px 0;
}

.main_inner_block p {
  color: #ffffff;
  font-size: 30px;
  margin: 10px 0;
}

.main_inner_block {
  width: 50%;
  position: relative;
}
.main_inner_block img {
  width: 100%;
  position: absolute;
  top: 5%;
}

.left_block {
  padding-bottom: 70px;
}

.consultation_btn {
  margin: 50px 0;
  padding: 20px 40px;
  border: 0;
  background: #eb4d56;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 61.5px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.consultation_modal_win {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal_win {
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
}

.modal_win h2 {
  padding-top: 40px;
  font-size: 40px;
}
.modal_win input {
  width: 50%;
  height: 50px;
  font-size: 23px;
  margin: 25px;
  padding: 12px;
  border: none;
  border-bottom: 3px solid #eb4d56;
  outline: none;
}

.modal_win_btn {
  margin: 20px 0;
}

.close_modal {
  position: absolute;
  font-size: 45px;
  right: 5%;
  top: 1%;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main_inner_block h1 {
    font-size: 45px;
  }

  .main_inner_block img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .main_inner_block img {
    bottom: -18%;
  }
}

@media (max-width: 768px) {
  .main_inner_block img {
    display: none;
  }
  .main_inner_block {
    text-align: center;
  }

  .main_inner_block {
    width: auto;
  }
}

@media (max-width: 767px) {
  .main_inner_block h1 {
    font-size: 30px;
    margin: 10px 0;
  }

  .consultation_btn {
    width: 70%;
  }

  .modal_win {
    top: 15%;
    width: 80%;
  }
  .modal_win input {
    margin: 25px 0;
    width: 80%;
  }
}
