.button_tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 3%;
}

.button_tabs>div {
    cursor: pointer;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 31%;
    height: 100px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 600;
    transition: .5s;
}

.button_tabs>div.active {
    background: rgba(255, 255, 255, 0.7);
    color: #1B1B1B;
    border-color: rgba(255, 255, 255, 0.7);
}

.button_tabs>div:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #1B1B1B;
    border-color: rgba(255, 255, 255, 0.7);
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.student_result {
    background-image: url('../../images/backgrs/bg_wood.png');
}

@media(max-width: 767px){
.button_tabs div{
    font-size: 10px;
}
}