.teachers_container{
  width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.center {
  width: 100%;
}
.center img{
  opacity: .3;
  transition: all 300ms ease;
}
.slick-center {
  position: relative;
  z-index: 100;
}
.slick-center img{
  box-shadow: none;
  opacity: 1;
  transform: scale(1.5);
  position: relative;
 /* transform: translateX(-10.5%);*/ 
}

.our_teachers{
  /* padding: 20px; */
  margin: 88px 0;
  background: darkgray;
}
.our_teachers img{
  width: 100%;
}

.teacher_prev {
  /* right: 70%; */
  left: 20%;
  top: 50%;
}
.teacher_next {
  /* left: 70%; */
  right: 20%;
  top: 50%;
}
@media(max-width: 768px){
.slick-center img{
  transform: scale(2);
}
.teacher_prev {
  left: 5%;
}
.teacher_next {
  right: 5%;
}  
}

@media(max-width: 670px) {
.slick-center img{
  transform: scale(1);
}
.teacher_prev {
  left: 1%;
  top: 57%;
}
.teacher_next {
  right: 1%;
  top: 57%;
} 
}
@media(max-width: 425px) {

.teacher_prev {
  /* right: 70%; */
  top: 60%;

}
.teacher_next {
  /* left: 70%; */
  top: 60%;

} 
}