.quest_answer_container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.question_item {
    cursor: pointer;
    width: 100%;
}

.question_item:not(:last-child) {
    margin-bottom: 50px;
}

.question {
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    transform: translateY(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}

.question h2 {
    color: #303030;
    font-weight: 500;
}

.question i {
    color: #2B2B2B;
    font-size: 30px;
}

.question p {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.answer {
    max-height: 0px;
    /* overflow: hidden; */
    transition: .5s;
    background-image: url('../../images/backgrs/answer_bg.png');
    background-size: 100% 110%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    /* padding: 5%; */
    
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

/*.answer:not(:first-child) {
    display: none;
}

.answer p {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}*/

@media(max-width: 768px) {
    .question {
        width: 100%;
    }
    .question p {
        width: 100%;
        font-size: 13px;
        padding: 7px;
    }
    .answer p {
        font-size: 13px;
    }
}

@media(max-width: 767px) {
    .quest_answer_container {
        display: unset;
    }
    .question {
        margin: 0 auto;
        width: 80%;
        height: 7%;
        transform: translate(0px, 10px);
    }
    .answer {
        margin: 0 auto;
        width: 80%;
    }
}