.big-video iframe{
    width: 80%;
    height: 400px;
    border: none; 
}

.small-video iframe{
    width: 100%;
    border: none; 
}

.video_prev {
  /* right: 70%; */
  left: 15%;
  top: 50%;
}
.video_next {
  /* left: 70%; */
  right: 15%;
  top: 50%;
}


@media(max-width: 768px){
.big-video img {
    margin-top: 0;
    margin: 10px auto;
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
    width: 100%;
}

@media(max-width: 767px){
.big-video iframe{
    width: 100%;
    height: 200px;
}

.video_prev {
  /* right: 70%; */
  left: 1%;
  top: 50%;
}
.video_next {
  /* left: 70%; */
  right: 1%;
  top: 50%;
}    
}