.school-description {
    padding: 120px 0 150px;
    background: url('../../images/backgrs/main-bg.png') no-repeat center;
}
.school-description__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.school-description__text {
    width: 70%;
}
.school-description__item:first-child {
    margin-bottom: 50px;
}
.school-description__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;

    color: #FFFFFF;
    margin-bottom: 25px;
}
.school-description__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;

    color: #FFFFFF;
}
.school-description__results {
    padding: 70px 45px;
    width: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 44px;
    border-radius: 50px;
    color: #2B2B2B;
    background-color: #fff;
}

.school-exam {
    background-color: #fff;
    padding: 90px 0 50px;
}
.school-exam__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 78px;
    text-align: center;
    
    color: #2B2B2B;
}
.school-exam__wrapper {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.school-exam__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;

    color: #2B2B2B;
}
.school-exam__img {
    width: 400px;
}

@media(max-width: 768px){
.school-description{
    padding: 30px 0;
}
.school-description__title{
    font-size: 30px;
}
.school-description__description{
    font-size: 20px;
    width: 100%;
}
.school-description__text{
    width: 100%;
}
.school-description__results{
    width: 100%;
}
.school-exam__img{
    width: 50%;
}
}

@media(max-width: 670px){
.school-description__title{
    font-size: 20px;
    margin-bottom: 0;
}
.school-description__description{
    font-size: 15px;
}
.school-description__item:first-child{
    margin-bottom: 0;
}
.school-description__results{
    font-size: 20px;
    padding: 40px 45px;
}
.school-exam__title{
    font-size: 40px;
}
}

@media(max-width: 670px){
.school-description__title{
    font-size: 15px;
}
.school-description__description{
    font-size: 12px;
}    
.school-description__results{
    font-size: 15px;
    padding: 20px 20px;
}
.school-exam{
    padding: 0;
}    
.school-exam__title{
    font-size: 30px;
}
.school-exam__text{
    font-size: 20px;
}    
}