.tree-bg {
  background: url(../../images/backgrs/tree-bg.svg);
  position: relative;
  width: 100%;
  display: flex;
}
.tree-bg_content {
  width: 100%;
  height: 800px;
  text-align: center;
  position: relative;
}

.tree-bg_content h1 {
  padding: 50px 0;
  font-size: 45px;
  font-weight: bold;
  color: #2b2b2b;
  text-align: center;
}

.laptop {
  width: 45%;
  margin: 80px 0 50px 0;
  position: relative;
}

.laptop_content {
  width: 27%;
  text-align: left;
}
.laptop_content h3 {
  font-size: 20px;
  font-weight: bold;
  color: #2b2b2b;
}
.laptop_content p {
  font-size: 18px;
  color: #2b2b2b;
}
.left_top {
  position: absolute;
  top: 168px;
  left: 154px;
}

.left_mid {
  position: absolute;
  top: 262px;
  left: 60px;
}

.left_bot {
  width: 19%;
  position: absolute;
  top: 70%;
  left: 12%;
}

.rgt_top {
  position: absolute;
  top: 97px;
  right: 0;
}

.rgt_bot {
  position: absolute;
  top: 374px;
  right: 0;
}

@media (max-width: 1024px) {
.tree-bg_content{
  height: 700px;
}
}

@media (max-width: 768px) {
.tree-bg_content{
  height: 600px;
}
}

@media (max-width: 660px) {
.tree-bg_content{
  height: 700px;
}
.tree-bg_content h1 {
  font-size: 35px;
}
}

@media (max-width: 425px) {
.tree-bg_content{
  height: 600px;
}  
