.blue-theme_mid {
  position: relative;
  width: 100%;
  text-align: center;
}

.blue-theme_mid h1 {
  width: 70%;
  padding: 50px 0;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
}

.offer-grup {
  width: 80%;
}

.offer-grup_list {
  display: none;
}

.arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 36px;
  top: 77%;
  cursor: pointer;
}

.arrow:focus {
  outline: none;
}

.arrow_prev {
  right: 90%;
}
.arrow_next {
  left: 90%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.student img {
  width: 100px;
  height: 130px;
  object-fit: cover;
}

.student h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 10px;
}
.student p {
  width: 80%;
  font-size: 15px;
  text-align: left;
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.student {
  position: relative;
  width: 46%;
  text-align: center;
}

.wrap li {
  list-style: none;
}

.top_bg {
  width: 80%;
  height: 100%;
  position: relative;
  bottom: -2px;
  margin: 0 auto;
}

.bottom_bg {
  position: relative;
  top: -2px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.top_bg img,
.bottom_bg img {
  width: 100%;
  height: auto;
}

.bottom_bg img {
  transform: rotateX(180deg);
}

.content {
  position: relative;
  width: 80%;
  height: 500px;
  background-color: #fff;
  text-align: center;
  overflow: auto;
  margin: 0 auto;
  /* padding: 0 4%; */
  /* box-sizing: border-box; */
}

.content::before {
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 0;
  content: "";
  background: #cccccc;
  width: 1px;
  height: 100%;
}
.content::after {
  position: absolute;
  top: 0;
  right: 5%;
  bottom: 0;
  content: "";
  background: #cccccc;
  width: 1px;
  height: 100%;
}

.slick-slider {
  width: 70%;
  margin: 0 auto;
}
.slick-slide img {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .offer-grup {
    margin: 0 auto;
    margin-top: 50px;
    width: 98%;
  }

  .blue-theme_mid h2 {
    width: 75%;
    margin-top: 50px;
  }

  .student {
    width: 40%;
  }
  .student p {
    font-size: 11px;
    text-align: left;
    margin: 5px;
    padding: 10px;
  }
  .student h4 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .blue-theme_mid h1 {
    font-size: 35px;
    width: 80%;
  }

  .offer-grup {
    display: none;
  }

  .offer-grup_list {
    display: table;
    margin: 0 auto;
  }
  .offer-grup_list img {
    width: 30%;
    margin: 15px;
  }

  .offer-grup_list p {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  }

  .arrow {
    top: 72%;
  }
}
