.carousel_why-us {
  width: 100%;
}
.carousel_why-us img{
  opacity: .3;
  transition: all 300ms ease;
}
.slick-center {
  position: relative;
  z-index: 100;
}
.slick-center img{
  box-shadow: none;
  opacity: 1;
  transform: scale(1.5);
  position: relative;
 /* transform: translateX(-10.5%);*/ 
}

.why-us_prev {
  /* right: 70%; */
  left: 20%;
  top: 50%;
}
.why-us_next {
  /* left: 70%; */
  right: 20%;
  top: 50%;
}
@media(max-width: 768px){
.slick-center img{
  transform: scale(2);
}
.why-us_prev {
  /* right: 70%; */
  left: 5%;

}
.why-us_next {
  /* left: 70%; */
  right: 5%;

}   
}
@media(max-width: 670px) {
.slick-center img{
  transform: scale(1);
}
.why-us_prev {
  left: 1%;
  top: 57%;
}
.why-us_next {
  right: 1%;
  top: 57%;
} 
}

@media(max-width: 425px) {

.why-us_prev {
  /* right: 70%; */
  top: 60%;
}
.why-us_next {
  /* left: 70%; */
  top: 60%;
} 
}